//
   Created by Obscurity on 2016/5/2.

extends ../layout/layout

block content
    .container
        .wrapper
            form(role="form" action="/journals/" + journal._id, method="POST")
                input.hidden(name="_method", value="PUT")
                .row
                    br
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        .form-group
                            input.form-control(name="title" placeholder="请在此输入日志标题" maxlength=30 value=journal.title required)
                .row
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        textarea#journal_content_input.hidden.form-control(name="content" rows=20 placeholder="请在此输入日志正文" maxlength=100000)= journal.content
                .row.text-center
                    br
                    .checkbox
                        if journal.placed_top
                            input(name="placed_top" type="checkbox" checked)
                        else
                            input(name="placed_top" type="checkbox")
                        label 是否置顶
                    .text-center
                        button.button.button-pill.button-primary(type="submit") 提交
                        button#journal_previewer_entry.button.button-pill(style="margin-left: 10px;" type="button" data-toggle="modal" data-target="#journal_previewer") 预览
    include ./preview