extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/gfm/gfm.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/markdown/markdown.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/mode/overlay.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/comment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/continuecomment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/meta.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/javascript/javascript.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/htmlmixed/htmlmixed.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/xml/xml.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/css/css.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/clike/clike.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/keymap/sublime.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/theme/monokai.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/iCheck/1.0.2/skins/flat/blue.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/journals.min.css")

block content
    .container
        form(role="form" action="/journals/" + journal._id, method="POST")
            input.hidden(name="_method", value="PUT")
            .row
                br
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .form-group
                        input.form-control(name="title" placeholder="请在此输入博客标题" maxlength=30 value=journal.title required)
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    include ../layout/richtext_entry
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    textarea#journal_content_input.hidden.form-control(name="content" rows=20 placeholder="请在此输入博客正文" maxlength=100000)= journal.content
            .row.text-center#tags-container
                br
                if journal.tags.length == 0
                    span.journal-tag-divider 关键词：暂无
                else
                    span.journal-tag-divider 关键词：
                    - var i = 0;
                    for tag in journal.tags
                        span.journal-tag= tag.name
                        span.journal-tag ×
                        if i++ < journal.tags.length - 1
                            span.journal-tag-divider /
            .row.text-center
                br
                .col-lg-3.col-md-3.col-sm-2.col-xs-2
                .col-lg-6.col-md-6.col-sm-8.col-xs-8
                    .input-group
                        span.input-group-addon
                            i.fa.fa-tag
                        input.form-control(name="tag" placeholder="请在此输入标签")
                        input.hidden(name="tags" value="[]")
                        span.input-group-btn
                            button.btn.btn-primary.btn-flat#add-tag-entry(type="button") 添加
            .row.text-center
                br
                if journal.placed_top
                    input(name="placed_top" type="checkbox" checked)
                else
                    input(name="placed_top" type="checkbox")
                label 　是否置顶　
                if journal.is_public
                    input(name="is_public" type="checkbox" checked)
                else
                    input(name="is_public" type="checkbox")
                label 　是否公开
            .row.text-center
                    br
                    button.btn.btn-flat.btn-primary(type="submit") 提交
                    button#journal_previewer_entry.btn.btn-flat(style="margin-left: 10px;" type="button" data-toggle="modal" data-target="#journal_previewer") 预览
    include ./preview
    include ../layout/richtext
    include ./reference