extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/journals.min.css")

block content
    .container
        .row.journal
            h4.hd.pull-left 博客列表
            if current_user != null
                a.button.button-primary.button-pill.pull-right(href="/journals/new") 写博客
        .divider
        if journals.length == 0
            .row.text-center
                h1.hd 主人很懒
                h1.hd 什么也没有写_(:з」∠)_
        else
            for journal in journals
                .row.journal
                    a.journal-title(href="/journals/" + journal._id)= journal.placed_top ? journal.title_top() : journal.title
                    div
                        .journal-meta.text-muted.inline-block= journal.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + journal.read_count + ')　评论(' + journal.comment_count + ')'
                    .journal-content= global.utils.journalPreview(global.utils.html2plain(global.utils.markdown(journal.content)), global.conf.preview.journal)
                    .journal-meta.text-muted
                        if journal.tags.length == 0
                            span 关键词：暂无
                        else
                            span 关键词：
                            - var i = 0;
                            for tag in journal.tags
                                a.journal-tag(href="/journals?tag=" + tag.name)= tag.name
                                if i++ < journal.tags.length - 1
                                    span /
            .row.text-center
                ul.pagination
                    if pagination.current_index > 1
                        li
                            a(href="/journals?page=" + (pagination.current_index - 1) + (tag ? "&tag=" + tag : "")) &laquo; 上一页
                    - var i = 1 > pagination.current_index - 2 ? 1 : pagination.current_index - 2;
                    - while(i <= (pagination.total_page < pagination.current_index + 2 ? pagination.total_page : pagination.current_index + 2))
                        if i == pagination.current_index
                            li.active
                                a(href="/journals?page=" + i + (tag ? "&tag=" + tag : ""))= i
                        else
                            li
                                a(href="/journals?page=" + i + (tag ? "&tag=" + tag : ""))= i
                        - i++
                    if pagination.current_index < pagination.total_page
                        li
                            a(href="/journals?page=" + (pagination.current_index + 1)) 下一页 &raquo;
    include ./reference