//
   Created by heavenduke on 16-5-9.

#journal_previewer.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.journal-previewer
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.hd.modal-title 博客预览
            .modal-body#journal_previewer_content
            .modal-footer
                .row.text-center
                    button.button.button-primary.button-pill(data-dismiss="modal") 关闭

