//
   Created by Obscurity on 2016/5/12.

script(type="text/javascript" src="https://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/js/vendor/jquery.ui.widget.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/js/jquery.iframe-transport.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/js/jquery.fileupload.min.js")
script(type="text/javascript" src="/js/journals.min.js")