extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/journals.min.css")

block content
    .container
        .row.journal
            .box.box-widget
                .box-header.with-border
                    .col-lg-8.col-md-6.col-sm-6
                        .journal-title= journal.title
                        .journal-meta.text-muted
                            if journal.tags.length == 0
                                span 关键词：暂无
                            else
                                span 关键词：
                                - var i = 0;
                                for tag in journal.tags
                                    a.journal-tag(href="/journals?tag=" + tag.name)= tag.name
                                    if i++ < journal.tags.length - 1
                                        span /
                        .journal-meta.text-muted= journal.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + journal.read_count + ')　评论(' + comments.length + ')'
                    if current_user
                        .col-lg-4.col-md-6.col-sm-6
                            .text-center
                                a.btn.btn-app(href="/journals")
                                    i.fa.fa-reply
                                    | 返回
                                a.delete-entry.btn.btn-app(href="/journals/" + journal._id + '?_method=delete')
                                    i.fa.fa-trash
                                    | 删除
                                a.btn.btn-app(href="/journals/" + journal._id + '/edit')
                                    i.fa.fa-pencil
                                    | 编辑
                    else
                        .col-lg-4.col-md-6.col-sm-6.hidden-xs
                            a.btn.btn-app.pull-right(href="/journals")
                                i.fa.fa-reply
                                | 返回
                .box-body
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        #journal-content.journal-content= journal.content
                        include ./likes/new
                        #hshare
                            span 分享：
                include ./comments/index
                include ./comments/new
    include ./reference