extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="/highlightjs/highlight.pack.js")
    link(rel="stylesheet" type="text/css" href="/journals.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/highlightjs/styles/github.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
    link(rel="stylesheet" type="text/css" href="/OwO/OwO.min.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")
    link(rel="stylesheet" type="text/css" href="/hshare/hshare.css")
1
block content
    .container
        .row.journal
            .box.box-widget
                .box-header.with-border
                    .col-lg-8.col-md-6.col-sm-6
                        .journal-title= journal.title
                            .user-block
                                img.img-circle(src="/favicon.ico" alt="Owner Image")
                                span.username HeavenDuke
                                span.description= journal.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + journal.read_count + ')　评论(' + comments.length + ')'
                    if current_user
                        .col-lg-4.col-md-6.col-sm-6
                            .text-center
                                a.btn.btn-app(href="/journals")
                                    i.fa.fa-reply
                                    | 返回
                                a.delete-entry.btn.btn-app(href="/journals/" + journal._id + '?_method=delete')
                                    i.fa.fa-trash
                                    | 删除
                                a.btn.btn-app(href="/journals/" + journal._id + '/edit')
                                    i.fa.fa-pencil
                                    | 编辑
                    else
                        .col-lg-4.col-md-6.col-sm-6.hidden-xs
                            a.btn.btn-app.pull-right(href="/journals")
                                i.fa.fa-reply
                                | 返回
                .box-body
                    #journal-content.journal-content= global.utils.markdown(journal.content)
                    include ./likes/new
                    #hshare
                        span 分享：
                include ./comments/index
                include ./comments/new
    include ./reference