extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/gfm/gfm.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/markdown/markdown.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/mode/overlay.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/comment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/continuecomment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/meta.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/javascript/javascript.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/htmlmixed/htmlmixed.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/xml/xml.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/css/css.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/clike/clike.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/keymap/sublime.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/theme/monokai.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/iCheck/1.0.2/skins/flat/blue.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/profile.min.css")

block content
    .container
        form(role="form" action="/profile", method="POST")
            input.hidden(name="_method", value="PUT")
            br
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    include ../layout/richtext_entry
                    textarea#profile_content_input.hidden.form-control(name="profile" rows=20 placeholder="请在此输入简历正文" maxlength=100000)= user.profile ? user.profile : ""
            .row.text-center
                    br
                    button.btn.btn-flat.btn-primary(type="submit") 提交
                    button#profile_previewer_entry.btn.btn-flat(style="margin-left: 10px;" type="button" data-toggle="modal" data-target="#profile_previewer") 预览
    include ./preview
    include ../layout/richtext
    include ./reference