extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/profile.min.css")

block content
    .container
        .row.profile
            .box.box-widget
                .box-body
                    .col-lg-12.col-md-12.col-sm-12.col-xs-12
                        #profile-content.profile-content= global.utils.markdown(user.profile ? user.profile : "")
                        #hshare
                            span 分享：
                    if current_user
                       .row.text-center
                            a.btn.btn-primary.btn-flat(href="/profile/edit")
                                i.fa.fa-pencil
                                | 编辑
    include ./reference