//
   Created by Obscurity on 2016/5/11.

.text-center
    if !attitude
        span.text-center
            a.btn.btn-app(href="/journals/" + journal._id + '/likes?attitude=like&_method=POST&action=post')
                i.fa.fa-thumbs-o-up
                = likes + " 顶"
        span.text-center
            a.btn.btn-app(style="margin-left: 20px;" href="/journals/" + journal._id + '/likes?attitude=dislike&_method=POST&action=post')
                i.fa.fa-thumbs-o-down
                = dislikes + " 踩"
    else if attitude.like
        span.text-center
            a.btn.btn-app(href="/journals/" + journal._id + '/likes?attitude=like&_method=POST&action=delete')
                i.fa.fa-thumbs-o-up
                = likes + " 已顶"
        span.text-center
            a.btn.btn-app(style="margin-left: 20px;" href="/journals/" + journal._id + '/likes?attitude=dislike&_method=POST&action=post')
                i.fa.fa-thumbs-o-down
                = dislikes + " 踩"
    else
        span.text-center
            a.btn.btn-app(href="/journals/" + journal._id + '/likes?attitude=like&_method=POST&action=post')
                i.fa.fa-thumbs-o-up
                = likes + " 顶"
        span.text-center
            a.btn.btn-app(style="margin-left: 20px;" href="/journals/" + journal._id + '/likes?attitude=dislike&_method=POST&action=delete')
                i.fa.fa-thumbs-o-down
                = dislikes + " 已踩"