.journal {
    margin: 2%;
}

.journal-title {
    font-size: 2em;
    font-family: "Microsoft YaHei";
}

.journal-info {
    white-space:normal;
}

.journal-content {
    white-space:normal;
    margin-top: 2%;
}