.photo {
    margin: 2%;
}

.photo-border {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.photo-introduction {
    font-size: 15px;
}

.grid-masonry .gutter-sizer {
    width: 3.5%;
}

.grid-masonry .grid-sizer {
    width: 350px;
}

.grid-masonry .grid-masonry-item {
    width: 350px;
}

.grid-masonry .grid-masonry-item img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.overlay:hover {
    text-decoration: none;
}

.overlay .photo-title {
    position: absolute;
    top: 50%;
    font-size: 25px;
    line-height: 1px;
    color: #ffffff;
    margin-top: -8px;
    text-align: center;
    width: 100%;
}

.overlay .photo-info {
    position: absolute;
    display: block;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.grid-masonry-item:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}