.content-wrapper {
    background: white;
}

a.black-link{color:#3F3F3F}
a.black-link:visited{color: #3F3F3F}
a.black-link:hover{color:#555555}

body {
    padding-bottom: 70px;
}

.vertical-center {
    position: absolute;
    top: calc(50% - 50px);
    left: 0;
    right: 0;
}