.home {
    margin: 2%;
}

.content-wrapper {
    background: white;
}

a.black-link{color:#3F3F3F}
a.black-link:visited{color: #3F3F3F}
a.black-link:hover{color:#555555}

body {
    padding-bottom: 70px;
}

.vertical-center {
    position: absolute;
    top: calc(50% - 50px);
    left: 0;
    right: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
     background-color: transparent;
}

@media screen and (max-width: 768px){
    .container{
        padding-right: 0;
        padding-left: 0;
    }
    .ablog-section .ablog-timeline
    {
        border-left: none;
    }
}

/*@keyframes updown*/
/*{*/
    /*from {transform:rotate(0deg);}*/
    /*to {transform:rotate(180deg);}*/
/*}*/

/*@-webkit-keyframes updown /!*Safari and Chrome*!/*/
/*{*/
    /*from {transform:rotate(180deg);}*/
    /*to {transform:rotate(0deg);}*/
/*}*/
/*.navbar-default .navbar-toggle{*/
    /*transform:rotate(180deg);*/
/*}*/

/*.navbar-default .navbar-toggle:hover*/
/*{*/
    /*animation:updown 1s ;*/
    /*-webkit-animation:updown 1s; /!*Safari and Chrome*!/*/
/*}*/