//
   Created by Obscurity on 2016/5/12.

#new_diary_modal.modal.fade
    .modal-dialog
        .modal-content
            form(action="/diaries" method="POST")
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title 新日记
                .modal-body
                    .form-group
                        label 标题:
                        input.form-control(name="brief" type="text" placeholder="先简单做个概述吧~" maxlength=30 required)
                    .form-group
                        label 日期
                        input.form-control(name="recorded_date" type="date" placeholder="请设置日期" required)
                    .form-group
                        label 内容:
                        textarea.form-control(name="content" rows="5" maxlength=500 placeholder="今天怎样呀" required)
                .modal-footer.text-center
                    button.button.button-pill.button-small(type="button" aria-hidden="true" data-dismiss="modal") 取消
                    button.button.button-pill.button-primary.button-small(type="submit") 发表