//
   Created by Obscurity on 2016/5/12.

#new_diary_modal.modal.fade
    .modal-dialog
        .modal-content
            form(action="/diaries" method="POST")
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title 新日记
                .modal-body
                    .form-group
                        label 标题:
                        input.form-control(name="brief" type="text" placeholder="先简单做个概述吧~" maxlength=30 required)
                    .form-group
                        label 日期
                        input.form-control(name="recorded_date" type="date" placeholder="请设置日期" required)
                    .form-group
                        .col-lg-6.col-md-6.col-sm-6.col-xs-6
                            label 心情:
                            select.form-control(name="mood" required)
                                option(selected) 请选择您的心情
                                - for(var key in mood_list)
                                    option(value=key)= mood_list[key].translation
                        .col-lg-6.col-md-6.col-sm-6.col-xs-6
                            label 标签:
                            select.form-control(name="tag" required)
                                option(selected) 请选择标签
                                - for(var key in tag_list)
                                    option(value=key)= tag_list[key].translation
                    .form-group
                        label 内容:
                        textarea.form-control(name="content" rows="5" maxlength=500 placeholder="今天怎样呀" required)
                    .form-group
                        span.btn.btn-success.fileinput-button
                            i.fa.fa-plus
                            span 请选择待上传的图片
                            input#image_creation_uploader.form-control(name="images" type="file" multiple="multiple")
                    input.hidden#image_creation_specifier(name="image_ids" type="text" value="[]")
                    .form-group
                        #create_upload_progress.progress
                            .progress-bar.progress-bar-success
                        #create_uploaded_files
                    .form-group.text-center
                        .checkbox
                            input(name="is_public" type="checkbox")
                            label 是否公开
                .modal-footer.text-center
                    button.button.button-pill.button-small(type="button" aria-hidden="true" data-dismiss="modal") 取消
                    button.button.button-pill.button-primary.button-small(type="submit") 发表