//
   Created by heavenduke on 16-5-14.

#image_previewer.modal.fade
    .modal-dialog.image_previewer(style="width: 60%;")
        .modal-content
            .modal-header.with-border
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title 查看图片
            .modal-body.text-center
                img#previewer_content.image_previewer_content