//
   Created by Obscurity on 2016/5/12.

script(type="text/javascript" src="https://cdn.bootcss.com/lightgallery/1.3.9/js/lightgallery.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/js/vendor/jquery.ui.widget.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/js/jquery.iframe-transport.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/js/jquery.fileupload.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/jscroll/2.3.7/jquery.jscroll.min.js")
script(type="text/javascript" src="/js/diaries.min.js")
