//
   Created by Obscurity on 2016/5/12.

script(type="text/javascript" src="/diaries.js")
script(type="text/javascript" src="/lightgallery/dist/js/lightgallery.min.js")
script(type="text/javascript" src="/lightgallery/dist/js/lg-thumbnail.min.js")
script(type="text/javascript" src="/lightgallery/dist/js/lg-fullscreen.min.js")