//
   Created by Obscurity on 2016/5/12.

script(type="text/javascript" src="/lightgallery/dist/js/lightgallery.min.js")
script(type="text/javascript" src="/lightgallery/dist/js/lg-thumbnail.min.js")
script(type="text/javascript" src="/lightgallery/dist/js/lg-fullscreen.min.js")
script(type="text/javascript" src="/blueimp-file-upload/js/vendor/jquery.ui.widget.js")
script(type="text/javascript" src="/blueimp-file-upload/js/jquery.iframe-transport.js")
script(type="text/javascript" src="/blueimp-file-upload/js/jquery.fileupload.js")
script(type="text/javascript" src="/diaries.js")
