extends ../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    script(type="text/javascript" src="/ajaxfileupload/jquery.ajaxfileupload.min.js")

block content
    .container
        .row
            .col-lg-4.col-md-3.col-sm-3.col-xs-1
            .col-lg-4.col-md-6.col-sm-6.col-xs-10
                br
                br
                br
                .box.box-primary
                    form(action="/guests" method="POST")
                        .box-body.box-profile
                            p.login-box-msg 修改个人信息
                            include ../layout/flash
                            if current_guest.head
                                img#head_input_trigger.profile-user-img.img-responsive.clickable(src="/" + current_guest.head)
                            else
                                img#head_input_trigger.profile-user-img.img-responsive.current_guest_head.clickable(hash=current_guest._id)
                            h3.hd.profile-username.text-center 修改头像
                            input#head_input.hidden(name="head" type="file")
                            input#head_input_path.hidden(name="head_path" type="text")
                            input.hidden(name="_method" value="PUT")
                            .form-group.has-feedback
                                input.form-control(type="email" name="email" placeHolder="邮箱" value=current_guest.email required)
                                span.form-control-feedback.fa.fa-envelope
                            .form-group.has-feedback
                                input.form-control(type="text" name="username" placeHolder="昵称" value=current_guest.username required)
                                span.form-control-feedback.fa.fa-user
                            .form-group.has-feedback
                                input.form-control(type="password" name="password" placeHolder="原密码")
                                span.form-control-feedback.fa.fa-lock
                            .form-group.has-feedback
                                input.form-control(type="password" name="new_password" placeHolder="新密码")
                                span.form-control-feedback.fa.fa-lock
                            .form-group.has-feedback
                                input.form-control(type="password" name="confirm_password" placeHolder="再次输入密码")
                                span.form-control-feedback.fa.fa-lock
                            .row
                                .col-lg-4.col-md-4.col-sm-4
                                .col-lg-4.col-md-4.col-sm-4
                                    button.btn.btn-primary.btn-block.btn-flat(type="submit") 提交
    include ./reference