//
   Created by heavenduke on 16-7-12.

extends ../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")

block content
    .container
        .row
            .col-lg-4.col-md-3.col-sm-3.col-xs-2
            .col-lg-4.col-md-6.col-sm-6.col-xs-8
                br
                br
                br
                .register-box.with-border
                    .register-box-body
                        p.login-box-msg 用户注册
                        include ../layout/flash.jade
                        form(role="form" action="/guests" method="POST")
                            input.hidden(name="redirect_url" value=redirect_url_after_login)
                            .form-group.has-feedback
                                input.form-control(type="text" name="email" placeHolder="邮箱" required)
                                span.form-control-feedback.fa.fa-envelope
                            .form-group.has-feedback
                                input.form-control(type="text" name="username" placeHolder="昵称" required)
                                span.form-control-feedback.fa.fa-user
                            .form-group.has-feedback
                                input.form-control(type="password" name="password" placeHolder="密码" required)
                                span.form-control-feedback.fa.fa-lock
                            .form-group.has-feedback
                                input.form-control(type="password" name="confirm_password" placeHolder="再次输入密码" required)
                                span.form-control-feedback.fa.fa-lock
                            .row
                                .col-lg-4.col-md-4.col-sm-4
                                .col-lg-4.col-md-4.col-sm-4
                                    button.btn.btn-primary.btn-block.btn-flat(type="submit") 注册
                        //.social-auth-links.text-center
                        //    p - Or -
                        //    a.btn.btn-block.btn-social.btn-danger.btn-flat(href="#")
                        //        i.fa.fa-qq
                        //        | 使用QQ帐号登录
                        br
                        a(href="/guests/sessions/new") 已有帐号？点此登录