//
   Created by heavenduke on 16-8-13.

extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    link(rel="stylesheet" type="text/css" href="/photo.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")

block content
    .container
        .row.photo
            h4.pull-left 图片列表
        .divider
        .row
            if photos.length == 0
                if !current_user
                    h1.text-center 主人很懒
                    h1.text-center 还没有创建任何相册_(:з」∠)_
            - for index in photos
                .post
                    .user-block
                        span.username= photos[index].name
                        span.description= photos[index].created_at.format("yyyy年MM月dd日 hh:mm")
                    .row.margin-bottom
                        .col-sm-6
                            img.img-responsive(src=photo[index].path, alt='Photo')
                        .col-sm-6
                            .row
                                p= photo[index].description
    include ./new
    include ./edit
