extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/photos.min.css")

block content
    .container
        .row.photo
            if current_user != null
                a.button.button-primary.button-pill.pull-right(href="#" data-toggle="modal" data-target="#new_photo_modal") 上传照片
        .divider
        if photos.length == 0
            .row
                h1.hd.text-center 主人很懒
                h1.hd.text-center 还没有上传任何照片_(:з」∠)_
        else
            .row
                .jscoll
                    .grid-masonry
                        .gutter-sizer
                        .grid-sizer
                        for photo in photos
                            .grid-masonry-item(photoinfo=JSON.stringify(photo))
                                img.margin.photo-border(src=Photo.get_thumb_image("/" + photo.path), alt='Photo')
                                a(data-toggle="modal" data-target="#photo_detail_modal")
                                    .overlay.margin.text-center.photo-border
                                        .photo-title.text-center= photo.title
                                        .photo-info= photo.location + "　" + photo.created_at.format("yyyy年MM月dd日")
                    if render_loader
                        a#scroller.btn.btn-block.btn-flat(href="/photos?render=false&offset=" + global.conf.pagination.photo) 加载更多
    include ./new
    //include ./show
    include ./reference
