//
   Created by heavenduke on 16-8-13.

extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    link(rel="stylesheet" type="text/css" href="/photo.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")

block content
    .container
        .row.photo
            if current_user != null
                a.button.button-primary.button-pill.pull-right(href="#" data-toggle="modal" data-target="#new_photo_modal") 上传照片
        .divider
        if photos.length == 0
            .row
                h1.text-center 主人很懒
                h1.text-center 还没有上传任何照片_(:з」∠)_
        else
            .row
                .grid-masonry
                    .gutter-sizer
                    .grid-sizer
                    - for photo in photos
                        .grid-masonry-item(photoinfo=JSON.stringify(photo))
                            img.margin.photo-border(src=Photo.get_thumb_image("/" + photo.path), alt='Photo')
                            a(data-toggle="modal" data-target="#photo_detail_modal")
                                .overlay.margin.text-center.photo-border
                                    .photo-title.text-center= photo.title
                                    .photo-info= photo.location + "　" + photo.created_at.format("yyyy年MM月dd日")
    include ./new
    include ./show
    include ./reference
