//
   Created by heavenduke on 16-8-13.

script(type="text/javascript" src="https://cdn.bootcss.com/masonry/4.2.0/masonry.pkgd.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/jscroll/2.3.7/jquery.jscroll.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/pica/3.0.4/pica.min.js")
script(type="text/javascript" src="/js/photos.min.js")