//
   Created by heavenduke on 16-8-13.

script(type="text/javascript" src="/masonry/dist/masonry.pkgd.min.js")
script(type="text/javascript" src="/imagesloaded/imagesloaded.pkgd.min.js")
script(type="text/javascript" src="/jscroll/jquery.jscroll.min.js")
script(type="text/javascript" src="/photos.js")