//
   Created by Obscurity on 2016/5/11.

.box-footer
    form(role="form" action="/columns/" + article.column_id + "/articles/" + article._id + "/comments", method="POST")
        //.form-group
        label 发表评论:
        .OwO
        textarea#comment_input.form-control(name="content" rows=8 placeholder= (comments.length == 0 ? "还没有人评论哦，来踩沙发？" : "请输入您的评论~") maxlength=1000)
        .text-center(style="margin-top: 10px;")
            button.button.button-primary.button-pill(type="submit") 评论