extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/gfm/gfm.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/markdown/markdown.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/mode/overlay.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/comment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/continuecomment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/meta.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/javascript/javascript.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/htmlmixed/htmlmixed.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/xml/xml.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/css/css.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/clike/clike.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/keymap/sublime.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/theme/monokai.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload.min.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/columns.min.css")

block content
    .container
        form(role="form" action="/columns", method="POST")
            .row
                br
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    .form-group
                        input.form-control(name="name" placeholder="请在此输入专栏名称" maxlength=30 required)
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    include ../layout/richtext_entry
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    textarea#column_content_input.hidden.form-control(name="introduction" rows=20 placeholder="请在此输入专栏的描述" maxlength=100000)
            .row.text-center#tags-container
                br
                span.column-tag-divider 关键词: 暂无
            .row.text-center
                br
                .col-lg-3.col-md-3.col-sm-2.col-xs-2
                .col-lg-6.col-md-6.col-sm-8.col-xs-8
                    .input-group
                        span.input-group-addon
                            i.fa.fa-tag
                        input.form-control(name="tag" placeholder="请在此输入标签")
                        input.hidden(name="tags" value="[]")
                        span.input-group-btn
                            button.btn.btn-primary.btn-flat#add-tag-entry(type="button") 添加
            .row.text-center
                br
                button#column_submission_entry.btn.btn-flat.btn-primary(type="submit") 提交
                button#column_previewer_entry.btn.btn-flat(style="margin-left: 10px;" type="button" data-toggle="modal" data-target="#column_previewer") 预览
    include ./preview
    include ../layout/richtext
    include ./reference