//
   Created by Obscurity on 2016/5/29.

#column_previewer.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.column-previewer
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h4.modal-title 专栏预览
            .modal-body#column_previewer_content
            .modal-footer
                .row.text-center
                    button.button.button-primary.button-pill(data-dismiss="modal") 关闭
