//
   Created by Obscurity on 2016/5/29.

script(type="text/javascript" src="/columns.js")
script(type="text/javascript" charset="utf-8" src="https://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh")
a.bshareDiv(onclick="javascript:return false;")
script(type="text/javascript" charset="utf-8" src="https://static.bshare.cn/b/bshareC0.js")