//
   Created by Obscurity on 2016/5/2.

extends ../layout/layout

block content
    .container
        .row.project
            h1= project.name
            div= project.created_at.format("yyyy年MM月dd日")
            p= project.introduction


include ./reference