extends ../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/fullcalendar/3.3.1/fullcalendar.min.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/writings.min.css")

block content
    .container
        .row.writing
            h4.hd.pull-left 我的每日码字统计
        #record

    include ./edit
    include ./reference