//
   Created by heavenduke on 16-7-8.

script(type="text/javascript" src="/moment/min/moment.min.js")
script(type="text/javascript" src="/fullcalendar/dist/fullcalendar.min.js")
script(type="text/javascript" src="/writings.js")