//
   Created by heavenduke on 16-7-8.


link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Buttons/2.0.0/css/buttons.min.css")
script(type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/blueimp-md5/2.7.0/js/md5.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/Buttons/2.0.0/js/buttons.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/identicon.js/2.1.0/pnglib.min.js")
script(type="text/javascript" src="https://cdn.bootcss.com/identicon.js/2.1.0/identicon.min.js")