//
   Created by heavenduke on 16-7-8.


script(type="text/javascript" src="/js-md5/build/md5.min.js")
script(type="text/javascript" src="/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/Buttons/js/buttons.js")
script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
link(rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="/Buttons/css/buttons.min.css")
script(type="text/javascript" src="/pnglib/pnglib.min.js")
script(type="text/javascript" src="/modernizr/modernizr.js")
script(type="text/javascript" src="/identicon.js/identicon.js")