//
   Created by Obscurity on 2016/7/13.

if error
    .alert.alert-warning.alert-dismissible
        button.close(type="button" data-dismiss="alert" aria-hidden="true") ×
        = error
if info
    .alert.alert-success.alert-dismissible
        button.close(type="button" data-dismiss="alert" aria-hidden="true") ×
        = info