footer.navbar.navbar-default.navbar-fixed-bottom
    .container.text-center
        h4.hd Designed by HeavenDuke
        a.black-link(href="https://www.facebook.com/arthur.liu.3386")
            i.fa.fa-2x.fa-fw.fa-facebook
        a.black-link(href="http://cn.linkedin.com/in/heavenduke")
            i.fa.fa-2x.fa-fw.fa-linkedin-square
        a.black-link(href="https://github.com/HeavenDuke")
            i.fa.fa-2x.fa-fw.fa-github
        a.black-link(href="/rss/rss.xml")
            i.fa.fa-2x.fa-fw.fa-rss-square