footer.navbar.navbar-default.navbar-fixed-bottom
    .container.text-center
        h4 Designed by HeavenDuke
        a.black-link(href="#")
            i.fa.fa-2x.fa-fw.fa-facebook
        a.black-link(href="#")
            i.fa.fa-2x.fa-fw.fa-twitter
        a.black-link(href="#")
            i.fa.fa-2x.fa-fw.fa-instagram
        a.black-link(href="#")
            i.fa.fa-2x.fa-fw.fa-github
        a.black-link(href="/rss/rss.xml")
            i.fa.fa-2x.fa-fw.fa-rss-square