footer.navbar.navbar-default.navbar-fixed-bottom
    .container
        ul.nav.navbar-nav(style="display: inline-block;")
            li(style="display: inline-block;")
                a(style="margin-top: 5px;margin-left: 5px;")
                    strong= "ABlog "
                    | 京ICP备17047665号-1
        ul.nav.navbar-nav.pull-right(style="margin-right: 10px;")
            li(style="display: inline-block;")
                a.black-link(style="padding-left: 3px; padding-right: 3px;" href="https://www.facebook.com/arthur.liu.3386")
                    i.fa.fa-2x.fa-fw.fa-facebook
            li(style="display: inline-block;")
                a.black-link(style="padding-left: 3px; padding-right: 3px;" href="https://cn.linkedin.com/in/heavenduke")
                    i.fa.fa-2x.fa-fw.fa-linkedin-square
            li(style="display: inline-block;")
                a.black-link(style="padding-left: 3px; padding-right: 3px;" href="https://github.com/HeavenDuke")
                    i.fa.fa-2x.fa-fw.fa-github
            li(style="display: inline-block;")
                a.black-link(style="padding-left: 3px; padding-right: 3px;" href="/rss/rss.xml")
                    i.fa.fa-2x.fa-fw.fa-rss-square