nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#example-navbar-collapse')
                span.sr-only 切换导航
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') HeavenDuke的博客
        #example-navbar-collapse.collapse.navbar-collapse.pull-right
            if (current_user == null)
                ul.nav.navbar-nav
                    li
                        a(href='/user/login') 登录
             else
                 ul.nav.navbar-nav
                     li.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown") 我的账户
                            b.caret
                        ul.dropdown-menu
                            li
                                a(href="#") 修改信息
                            li
                                a(href="/user?_method=delete") 登出