.main-header
    nav.navbar.navbar-static-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse' aria-expanded="true")
                    i.fa.fa-bars
                a.navbar-brand(href='/') HeavenDuke的博客
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class=current_module == "journal" ? "active" : "")
                        a(href='/journals') 博文
                ul.nav.navbar-nav
                    li(class=current_module == "diary" ? "active" : "")
                        a(href='/diaries') 日记
                ul.nav.navbar-nav
                    li(class=current_module == "project" ? "active" : "")
                        a(href='/projects') 项目
                ul.nav.navbar-nav
                    li(class=current_module == "column" ? "active" : "")
                        a(onclick="alert('敬请期待')") 专栏
                if (current_user == null)
                    ul.nav.navbar-nav.pull-right
                        li
                            a(href='/user/login') 登录
                 else
                     ul.nav.navbar-nav.pull-right
                         li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="true") 我的账户
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/user/edit") 修改信息
                                li
                                    a(href="/user?_method=delete") 登出