//
   Created by Obscurity on 2016/3/26.
doctype html
html
    head
        meta(name="charset" content="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel="shortcut icon" href="/favicon.ico")
        include ./basic_ref
        block specified_ref
    body.skin-blue.layout-top-nav(style="font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;")
        .wrapper
            include ./header
            .content-wrapper(style="background: white;")
                block content
            include ./footer
        script(type="text/javascript" src="/AdminLTE/js/app.min.js")
        script(type="text/javascript" src="/shared.js")