//
   Created by Obscurity on 2016/3/26.
doctype html
html
    head
        - var whitenames = "heavenduke.com www.heavenduke.com static.bshare.cn cdn.mathjax.org";
        meta(name="charset" content="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Security-Policy" content="script-src '" + whitenames +"'")
        meta(http-equiv="X-Content-Security-Policy" content="script-src '" + whitenames +"'")
        meta(http-equiv="X-Webkit-CSP" content="script-src '" + whitenames +"'")
        title #{title}
        link(rel="shortcut icon" href="/favicon.ico")
        include ./basic_ref
        block specified_ref
    body.skin-blue.layout-top-nav.body
        .wrapper
            include ./header
            .content-wrapper(style="background: white;")
                block content
            include ./footer
        script(type="text/javascript" src="/AdminLTE/js/app.min.js")
        script(type="text/javascript" src="/shared.js")