//
   Created by Obscurity on 2016/3/26.
doctype html
html
    head
        meta(name="charset" content="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        script(type="text/javascript" src="/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/Buttons/js/buttons.js")
        script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript" src="/journals.js")
        link(rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/Buttons/css/buttons.min.css")
        link(rel="stylesheet" type="text/css" href="/journals.css")
        link(rel="stylesheet" type="text/css" href="/theme.css")
    body
        .container
            include ./header
            .wrapper
                block content
        include ./footer