//
   Created by Obscurity on 2016/3/26.
doctype html
html
    head
        meta(name="charset" content="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title #{title}
        link(rel="shortcut icon" href="/favicon.ico")
        script(type="text/javascript" src="/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/Buttons/js/buttons.js")
        script(type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript" src="/marked/marked.js")
        script(type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=default")
        script(type="text/javascript" src="/CodeMirror/lib/codemirror.js")
        script(type="text/javascript" src="/CodeMirror/mode/gfm/gfm.js")
        script(type="text/javascript" src="/CodeMirror/mode/markdown/markdown.js")
        script(type="text/javascript" src="/CodeMirror/addon/mode/overlay.js")
        script(type="text/javascript" src="/CodeMirror/addon/comment/comment.js")
        script(type="text/javascript" src="/CodeMirror/addon/comment/continuecomment.js")
        script(type="text/javascript" src="/CodeMirror/mode/meta.js")
        script(type="text/javascript" src="/CodeMirror/mode/javascript/javascript.js")
        script(type="text/javascript" src="/CodeMirror/mode/htmlmixed/htmlmixed.js")
        script(type="text/javascript" src="/CodeMirror/mode/xml/xml.js")
        script(type="text/javascript" src="/CodeMirror/mode/css/css.js")
        script(type="text/javascript" src="/CodeMirror/mode/clike/clike.js")
        script(type="text/javascript" src="/highlightjs/highlight.pack.js")
        script(type="text/javascript" src="/CodeMirror/keymap/sublime.js")
        script(type="text/javascript" src="/AdminLTE/js/app.min.js")
        link(rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/Buttons/css/buttons.min.css")
        link(rel="stylesheet" type="text/css" href="/journals.css")
        link(rel="stylesheet" type="text/css" href="/diaries.css")
        link(rel="stylesheet" type="text/css" href="/theme.css")
        link(rel="stylesheet" type="text/css" href="/highlightjs/styles/github.css")
        link(rel="stylesheet" type="text/css" href="/CodeMirror/lib/codemirror.css")
        link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
        link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
        link(rel="stylesheet" type="text/css" href="/OwO/OwO.min.css")
    body.skin-blue.layout-top-nav
        .wrapper
            include ./header
            .content-wrapper(style="background: white;")
                block content
            include ./footer