//
   Created by heavenduke on 17-3-24.


.btn-group
    a.markdown-h1(type="button" title="一级标题").btn.btn-default H1
    a.markdown-h2(type="button" title="二级标题").btn.btn-default H2
    a.markdown-h3(type="button" title="三级标题").btn.btn-default H3
    a.markdown-h4(type="button" title="四级标题").btn.btn-default H4
    a.markdown-h5(type="button" title="五级标题").btn.btn-default H5
.btn-group(style="margin-left: 5px;")
    a.markdown-bold(type="button" title="加粗").btn.btn-default
        i.fa.fa-bold
    a.markdown-italic(type="button" title="斜体").btn.btn-default
        i.fa.fa-italic
.btn-group(style="margin-left: 5px;")
    a.markdown-numbered-list(type="button" title="有序列表").btn.btn-default
        i.fa.fa-list-ol
    a.markdown-bulleted-list(type="button" title="列表").btn.btn-default
        i.fa.fa-list-ul
.btn-group(style="margin-left: 5px;")
    a.markdown-link(type="button" title="超链接").btn.btn-default
        i.fa.fa-link
    .btn-group
        a.markdown-code-entry(type="button" data-toggle="dropdown" title="代码").btn.btn-default
            i.fa.fa-code
        ul.dropdown-menu
            li.markdown-code-inline
                a(href="#") 内联代码
            li.markdown-code
                a(href="#") 代码
    .btn-group
        a(type="button" data-toggle="dropdown" title="选择语言").btn.btn-default
            i.fa.fa-language
        ul.dropdown-menu
            li.markdown-code-language(value="c")
                a(href="#") C
            li.markdown-code-language(value="cpp")
                a(href="#") C++
            li.markdown-code-language(value="css")
                a(href="#") CSS
            li.markdown-code-language(value="html")
                a(href="#") HTML
            li.markdown-code-language(value="java")
                a(href="#") Java
            li.markdown-code-language(value="javascript")
                a(href="#") JavaScript
            li.markdown-code-language(value="plain")
                a(href="#") Plain
            li.markdown-code-language(value="python")
                a(href="#") Python
            li.markdown-code-language(value="perl")
                a(href="#") Perl
            li.markdown-code-language(value="php")
                a(href="#") PHP
            li.markdown-code-language(value="ruby")
                a(href="#") Ruby
            li.markdown-code-language(value="xml")
                a(href="#") XML
    a.markdown-image(type="button" title="图片").btn.btn-default
        i.fa.fa-image
    .btn-group
        a(type="button" data-toggle="dropdown" title="Latex公式").btn.btn-default
            i.fa.fa-font
        ul.dropdown-menu
            li.markdown-latex-inline
                a(href="#") 内联公式
            li.markdown-latex
                a(href="#") 公式
    a.markdown-html(type="button" title="HTML").btn.btn-default
        i.fa.fa-html5
