//
   Created by Obscurity on 2016/5/2.

extends ../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")

block content
    .container
        .row
            .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-4
                br
                br
                br
                .text-center
                    h4.hd 修改个人信息
                include ../layout/flash.jade
                form(role="form" action="/users" method="POST")
                    input.hidden(name="_method" value="put")
                    .form-group
                        label(for="password") 原密码
                        input.form-control#password(type="password" name="password" required)
                    .form-group
                        label(for="new_password") 新密码
                        input.form-control#new_password(type="password" name="new_password" required)
                    .form-group
                        label(for="confirm_password") 确认密码
                        input.form-control#confirm_password(type="password" name="confirm_password" required)
                    .text-center
                        button(type="submit").button.button-primary.button-pill 修改