//
   Created by Obscurity on 2016/5/2.

extends ../../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="/theme.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")

block content
    .container
        .row
            .col-lg-4.col-md-4.col-sm-4.col-xs-4
            .col-lg-4.col-md-4.col-sm-4.col-xs-4
                br
                br
                br
                .text-center
                    h4 登录
                form(role="form" action="/users/sessions" method="POST")
                    input.hidden(name="redirect_url" value=redirect_url_after_login)
                    .form-group
                        label(for="username") 账户名
                        input.form-control#username(type="text" name="username" required)
                    .form-group
                        label(for="password") 密码
                        input.form-control#password(type="password" name="password" required)
                    .text-center
                        button(type="submit").button.button-primary.button-pill 登录