extends ../../layout/layout

block specified_ref
    script(type="text/javascript" src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/gfm/gfm.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/markdown/markdown.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/mode/overlay.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/comment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/addon/comment/continuecomment.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/meta.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/javascript/javascript.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/htmlmixed/htmlmixed.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/xml/xml.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/css/css.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/mode/clike/clike.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/highlight.js/9.11.0/highlight.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/codemirror/5.25.2/keymap/sublime.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/highlight.js/9.11.0/styles/github.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/codemirror.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/codemirror/5.25.2/theme/monokai.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload.min.css")
    link(rel="stylesheet" type="text/css" href="/css/theme.min.css")
    link(rel="stylesheet" type="text/css" href="/css/articles.min.css")

block content
    .container
        form(role="form" action="/columns/" + column._id + "/articles", method="POST")
            .row
                br
                .col-lg-1.col-md-1.col-sm-1.col-xs1
                    .form-group
                        input.form-control(name="order" type="number" placeholder="序号")
                .col-lg-11.col-md-11.col-sm-11.col-xs-11
                    .form-group
                        input.form-control(name="title" placeholder="请在此输入博客标题" maxlength=30 required)
            .row
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    include ../../layout/richtext_entry
                .col-lg-12.col-md-12.col-sm-12.col-xs-12
                    textarea#article_content_input.hidden.form-control(name="content" rows=20 placeholder="请在此输入博客正文" maxlength=100000)
            .row.text-center
                br
                .text-center
                    button#article_submission_entry.button.button-pill.button-primary(type="submit") 提交
                    button#article_previewer_entry.button.button-pill(style="margin-left: 10px;" type="button" data-toggle="modal" data-target="#article_previewer") 预览
    include ./preview
    include ../../layout/richtext
    include ./reference