//
   Created by Obscurity on 2016/5/29.

extends ../../layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    script(type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="/highlightjs/highlight.pack.js")
    link(rel="stylesheet" type="text/css" href="/articles.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/highlightjs/styles/github.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
    link(rel="stylesheet" type="text/css" href="/OwO/OwO.min.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")

block content
    .container
        .row.article
            .col-lg-3.col-md-3.col-sm-3
                table.table.table-bordered
                    tr
                        th 文章目录
                    - for(var index in articles)
                        tr
                            td(class=(article._id.toString() == articles[index]._id.toString() ? "selected-article" : ""))
                                a(href="/columns/" + column_id + "/articles/" + articles[index]._id)
                                    strong= articles[index].order + "　" + articles[index].title
            .col-lg-9.col-md-9.col-sm-9
                .box.box-widget
                    .box-header.with-border
                        .col-lg-7.col-md-6.col-sm-6
                            .article-title= article.title
                            .user-block
                                img.img-circle(src="/favicon.ico" alt="Owner Image")
                                span.username HeavenDuke
                                span.description= article.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + article.read_count + ')　评论(' + comments.length + ')'
                        if current_user
                            .col-lg-5.col-md-6.col-sm-6
                                .text-center
                                    a.btn.btn-app(href="/columns/" + article.column_id)
                                        i.fa.fa-reply
                                        | 返回
                                    a.delete-entry.btn.btn-app(href="/columns/" + article.column_id + "/articles/" + article._id + '?_method=delete')
                                        i.fa.fa-trash
                                        | 删除
                                    a.btn.btn-app(href="/columns/" + article.column_id + "/articles/" + article._id + '/edit')
                                        i.fa.fa-pencil
                                        | 编辑
                        else
                            .col-lg-5.col-md-6.col-sm-6
                                a.btn.btn-app.pull-right(href="/columns/" + article.column_id)
                                    i.fa.fa-reply
                                    | 返回
                    .box-body
                        #article-content.article-content= global.utils.markdown(article.content)
                        include ./likes/new
                    include ./comments/index
                    include ./comments/new
    include ./reference