//
   Created by heavenduke on 16-5-7.


extends ./layout/layout

block content
    .container
        .wrapper
            .row.text-center
                .vertical-center
                    h1.hd 出错啦_(:з」∠)_
                    a.button.button-primary.button-pill(href="/" style="margin-top: 20px;") 返回首页
