//
   Created by Obscurity on 2016/3/26.

extends ./layout/layout

block content
    .ablog-header
        .ablog-header-left.col-lg-5.col-md-5
            .left-content
                div
                    .head-img
                        img(src="http://i1.hdslb.com/bfs/face/5f42c51ce1b8308e101c914b8fcdd1dc76253e82.jpg")
                    .info-detail
                            .info-detail-name
                                span H.D.
                                a.black-link(href="#")
                                    i.fa.fa-fw.fa-facebook(style="color:#3B589C;")
                                a.black-link(href="#")
                                    i.fa.fa-fw.fa-twitter(style="color:#1AB2E8;")
                                a.black-link(href="#")
                                    i.fa.fa-fw.fa-instagram
                                a.black-link(href="#")
                                    i.fa.fa-fw.fa-github
                            .info-detail-motto 看剑~看剑~看剑~看剑~看剑~看剑~看剑~你已经满身疮痍
            .left-bkg
                .bkg-filter
                .bkg-img(style='background-color:#7cf;')
        .ablog-header-right-img.col-lg-7.col-md-7(style='background-color:#7cf;')
    .ablog-tags
        span.label.label-info 中二
        span.label.label-info 病娇
        span.label.label-info 腹黑
        span.label.label-info 被害妄想
        span.label.label-info 萝莉控
        span.label.label-info 二次元
        span.label.label-info 黑长直
    .ablog-section.row
        .ablog-list.col-lg-7.col-md-7
            .well.well-lg 你好世界！
            .well.well-lg Hello World！
            .well.well-lg こんにちは、せかい！
            .well.well-lg 안녕하세요, 세계
            .well.well-lg hallo welt
            .well.well-lg bonjour, monde
            .well.well-lg Hola mundo
            .well.well-lg Γεια σου κόσμο
            .well.well-lg witaj w świecie
            .well.well-lg สวัสดีโลก
            .well.well-lg hej världen
            .well.well-lg здравствуй, мир
            .well.well-lg مرحبا العالم

        .ablog-timeline.col-lg-5.col-md-5
            ul.timeline
                li.time-label
                    span.bg-green 10 Feb. 2014
                li
                    i.fa.fa-envelope.bg-blue
                    .timeline-item
                        span.time
                            i.fa.fa-clock-o
                            | &nbsp;23:33
                        h3.timeline-header
                            a(href="#") Support Team
                            | sent you an email
                        .timeline-body
                            | lk;jasdl;kjasdlkajsdlkjasd,asdkj ,asd;asld,masdlkdfs,lkhj
                        .timeline-footer
                            a.btn.btn-sm.btn-default OK
                li
                    i.fa.fa-user.bg-aqua
                    .timeline-item
                        span.time
                            i.fa.fa-clock-o
                            | &nbsp;5 mins ago
                        h3.timeline-header.no-border
                            a(href="#") Sarah Young
                            | accepted your friend request
                li
                    i.fa.fa-user.bg-aqua
                    .timeline-item
                        span.time
                            i.fa.fa-clock-o
                            | &nbsp;1 min ago
                        h3.timeline-header.no-border
                            a(href="#") Sarah Old
                            | accepted your friend request
                li
                    i.fa.fa-clock-o.bg-gray
    .container.text-center(style="display:none;")
        h1 你好世界！
        h1 Hello World！
        h1 こんにちは、せかい！
        h1 안녕하세요, 세계
        h1 hallo welt
        h1 bonjour, monde
        h1 Hola mundo
        h1 Γεια σου κόσμο
        h1 witaj w świecie
        h1 สวัสดีโลก
        h1 hej världen
        h1 здравствуй, мир
        h1 مرحبا العالم

