//
   Created by Obscurity on 2016/3/26.

extends ./layout/layout

block content
    .container.text-center
        h1 你好世界！
        h1 Hello World！
        h1 こんにちは、せかい！
        h1 안녕하세요, 세계
        h1 hallo welt
        h1 bonjour, monde
        h1 Hola mundo
        h1 Γεια σου κόσμο
        h1 witaj w świecie
        h1 สวัสดีโลก
        h1 hej världen
        h1 здравствуй, мир
        h1 مرحبا العالم

